
@media screen and (min-width: 1024px ) {
    *{margin: 0; padding: 0;}
#grid1{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    height: 960px;
    grid-template-rows: 15% 70% 15%;
    background-color: #ecc4ab;
    grid-row-gap: 10px;
}
header{
    grid-area: header;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
    background-color: black;
}
.border{
    border: 1px solid black;
}
#div2{
    position: absolute;
    left: 5%;
    top: 3%;
    height: 100px;
    width: 100px;    
}
.imgdiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Dropdown Button */
.dropbtn {
    background-color: #ecc4ab;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ecc4ab}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
    color: #ecc4ab;
}

#div1{
    position: absolute;
    right: 5%;
    top: 8%;
}
#div3{
    display: flex;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 8%;
    right: 15%;
    justify-content: space-between;
}
.flexboximg{
    height: 50px;
    width: auto;
    border-radius: 50%;
}
#grid2{
    display: grid;
    grid-template-areas: 
    "img3 text2 img1"
    "text1 img2 img1";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
div#text1{
    grid-area: text1;
    overflow: hidden;
}
div#text2{
    grid-area: text2;
    overflow: hidden;
}
div#img1{
    grid-area: img1;
    overflow: hidden;
}
div#img2{
    grid-area: img2;
    overflow: hidden;
}
div#img3{
    grid-area: img3;
    overflow: hidden;
}
.gridimg{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
#grid3{
    display: grid;
    grid-template-areas: 
    "ph1 ph2 ph3"
    "ph4 area ph5"
    "ph6 ph7 ph8";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
div#area{
grid-area: area;
overflow: hidden;
background-color: black;
}
div#ph1{
grid-area: ph1;
overflow: hidden;
}
div#ph2{
grid-area: ph2;
overflow: hidden;
}
div#ph3{
grid-area: ph3;
overflow: hidden;
}
div#ph4{
grid-area: ph4;
overflow: hidden;
}
div#ph5{
grid-area: ph5;
overflow: hidden;
}
div#ph6{
grid-area: ph6;
overflow: hidden;
}
div#ph7{
grid-area: ph7;
overflow: hidden;
}
div#ph8{
grid-area: ph8;
overflow: hidden;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 100%;
}
section div{
color: #ecc4ab;
}
.formtext{
    font-size: small;
    margin: 1.5%;
    color: #ecc4ab;
}
.formtext2{
    font-size: medium;
    color: black;
}
.input{
    background-color: #ecc4ab;
    border: 2px solid black;
    padding: 1.5%;
    height: 5%;
    width: 75%;
}
.button{
    display: flex;
    justify-content: center;
    background-color: #ecc4ab;
    border: 2px solid black;
    height: 10%;
    width: 25%;
    padding: 0%;
    margin: 2.5% 0% 2.5% 0%;
    color: black;
}
.button2{
    display: flex;
    justify-content: center;
    background-color: #ecc4ab;
    border: 2px solid black;
    height: 10%;
    width: 25%;
    padding: 1%;
    margin: 2.5% 0% 2.5% 0%;
    color: black;
}
.div4{
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    background-image: linear-gradient(to left, grey, #ecc4ab, grey) ;
    border: 2px solid black;
    overflow: hidden;
}
section div p{
    transform: translate(45%, 0%);
    color: black;
    padding: 2%;
    font-size: x-large;
}
#div5{
    display: flex;
    height: 692px;
    width: 100%;
    position: absolute;
    top: 144px;
    right: 0%;
    justify-content: space-between;
}
}
@media screen and (min-width: 320px ) and (max-width: 1023px ) {
    *{margin: 0; padding: 0;}
#grid1{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    height: 600px;
    grid-template-rows: 15% 70% 15%;
    background-color: #ecc4ab;
    grid-row-gap: 10px;
}
header{
    grid-area: header;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
    background-color: black;
}
.border{
    border: 1px solid black;
}
#div2{
    position: absolute;
    left: 5px;
    top: 0%;
    height: 90px;
    width: 90px;    
}
.imgdiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Dropdown Button */
.dropbtn {
    background-color: #ecc4ab;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: #ecc4ab;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #ecc4ab;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ecc4ab}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
    color: #ecc4ab;
}
#div1{
    position: absolute;
    left: 200px;
    top: 30px;
}
#div3{
    display: flex;
    height: 25px;
    width: 100px;
    position: absolute;
    top: 9%;
    left: 32.5%;
    justify-content: space-between;
}
.flexboximg{
    height: 25px;
    width: auto;
    border-radius: 50%;
    display: none;
}
#grid2{
    display: grid;
    grid-template-areas: 
    "img3 text2 img1"
    "text1 img2 img1";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
div#text1{
    grid-area: text1;
    overflow: hidden;
    display: none;
}
div#text2{
    grid-area: text2;
    overflow: hidden;
    display: none;
}
div#img1{
    grid-area: img1;
    overflow: hidden;
    display: none;
}
div#img2{
    grid-area: img2;
    overflow: hidden;
    position: absolute;
    top: 35%;
    width: 320px;
    height: auto;
}
div#img3{
    grid-area: img3;
    overflow: hidden;
    display: none;
}
.gridimg{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
#grid3{
    display: grid;
    grid-template-areas: 
    "ph1 ph2 ph3"
    "ph4 area ph5"
    "ph6 ph7 ph8";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
div#area{
grid-area: area;
overflow: hidden;
background-color: black;
width: 300px;
height: 400px;
}
div#ph1{
grid-area: ph1;
overflow: hidden;
display: none;
}
div#ph2{
grid-area: ph2;
overflow: hidden;
display: none;
}
div#ph3{
grid-area: ph3;
overflow: hidden;
display: none;
}
div#ph4{
grid-area: ph4;
overflow: hidden;
display: none;
}
div#ph5{
grid-area: ph5;
overflow: hidden;
display: none;
}
div#ph6{
grid-area: ph6;
overflow: hidden;
display: none;
}
div#ph7{
grid-area: ph7;
overflow: hidden;
display: none;
}
div#ph8{
grid-area: ph8;
overflow: hidden;
display: none;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 100%;
}
section div{
color: #ecc4ab;
}
.formtext{
    font-size: small;
    margin: 1.5%;
    color: #ecc4ab;
}
.formtext2{
    font-size: medium;
    color: black;
}
.input{
    background-color: #ecc4ab;
    border: 2px solid black;
    padding: 1.5%;
    height: 5%;
    width: 75%;
}
.button{
    display: flex;
    justify-content: center;
    background-color: #ecc4ab;
    border: 2px solid black;
    height: 10%;
    width: 25%;
    padding: 0%;
    margin: 2.5% 0% 2.5% 0%;
    color: black;
}
.button2{
    display: flex;
    justify-content: center;
    background-color: #ecc4ab;
    border: 2px solid black;
    height: 10%;
    width: 25%;
    padding: 1%;
    margin: 2.5% 0% 2.5% 0%;
    color: black;
}
.div4{
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    background-image: linear-gradient(to left, grey, #ecc4ab, grey) ;
    border: 2px solid black;
    overflow: hidden;
}
section div p{
    transform: translate(35%, 0%);
    color: black;
    padding: 2%;
    font-size: x-large;
}
#mapaimg{
    transform: translate(0%, 30%);
}
#div5{
    display: flex;
    height: 692px;
    width: 100%;
    position: absolute;
    top: 144px;
    right: 0%;
    justify-content: space-between;
}
.displaynone{
    display: none;
}
.moveform{
    transform: translate(5%, 0%);
}
#moveform2{
    transform: translate(0%, 0%);
}
}
