header{
    background-color: black;
    height: 150px;
  }
  header img{
    height: 90px;
    width: auto;

  }
  section{
    height: 550px;
    background-color: #ecc4ab;
  }
  footer{
    background-color: black;
    height: 150px;
  }
  section img{
    width: 100%;
    height: 550px;
  }
