
{% extends "App1/inicio.html" %}
{% load static %}

{% block contenido_variable %}

Somos Micaela y Natacha.

Natacha es de Argentina. Estudió Licenciatura en Biotecnología y 
se encuentra realizando un Doctorado en Ciencias Biológicas
en el Instituto de Biología Molecular y Celular de Rosario de CONICET. 
Está intentando aprender un poco de programación 
como una herramienta complementaria para su formación en Bioinformática

Micaela es de Uruguay. 
Está Estudiando una Licenciatura en Biología en la UDELAR (Universidad de la Republica).
Se decidió por estudiar Python ya que siempre le interesó la programación 
y este año se hizo un espacio para poder aprender.



{% endblock %}