
{% extends "inicio.html" %}
{% load static %}

{% block contenido_variable %}
<body>
    {% if form.errors %}
        <p>Hay un error con el formulario</p>
    {% endif %}

    <form action="{% url 'register' %}" method="POST" style="border: black solid 2px; padding: 20px; display: flex; flex-direction: column; margin-top: 30px; margin-left: 100px; margin-right: 100px;"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Registrarse</button>
    </form> 

</body>

{% endblock %}